# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Databases
*.db
*.sqlite3

# Local Uploads
backend/uploads/
backend/rag/pdf_vectors/
backend/rag/chat_memories/
backend/rag/vector_db.json

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/