fastapi
uvicorn
python-multipart
python-dotenv
httpx
pydantic
sqlalchemy
psycopg2-binary
supabase
huggingface_hub
groq
tavily-python
langchain
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters
pypdf
numpy
pyyaml
resend
watchdog
