fastapi
uvicorn
python-multipart
python-dotenv
requests
httpx
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
supabase
huggingface_hub
groq
resend
PyMuPDF
pdfplumber
langchain
langchain-groq
langchain-huggingface
langchain-community
langchain-core
langchain-text-splitters
grpcio-status>=1.75.1
python-dateutil
tavily-python
Pillow
sentence-transformers
